<div class="container pt-2">
  <div class="d-flex justify-content-between">
    <h1><%= @task.title %></h1>

    <span class="border rounded p-3 m-2">
    <%= link_to fa_icon("pencil", text:"Edit this task"), edit_task_path, class:"text-decoration-none"  %>
    </span>
  </div>

  <div class="border rounded p-2 my-2 bg-light">
   <p><%= @task.details %></p>
  </div>

  <p>This task is <%= @task.completed ? "completed." : "not completed." %></p>

  <%= link_to fa_icon("rotate-left", text:"Back to list"), tasks_path, class:"text-decoration-none" %>
</div>
